<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>controllers.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetWarning</servlet-name>
        <servlet-class>controllers.GetWarning</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStaff</servlet-name>
        <servlet-class>controllers.GetStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSeekers</servlet-name>
        <servlet-class>controllers.GetSeekers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCorporate</servlet-name>
        <servlet-class>controllers.GetCorporate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFeedback</servlet-name>
        <servlet-class>controllers.GetFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReports</servlet-name>
        <servlet-class>controllers.GetReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaff</servlet-name>
        <servlet-class>controllers.AddStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaff</servlet-name>
        <servlet-class>controllers.EditStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>controllers.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSeeker</servlet-name>
        <servlet-class>controllers.DeleteSeeker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSeeker</servlet-name>
        <servlet-class>controllers.EditSeeker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSeeker</servlet-name>
        <servlet-class>controllers.AddSeeker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCorporate</servlet-name>
        <servlet-class>controllers.DeleteCorporate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCorporate</servlet-name>
        <servlet-class>controllers.AddCorporate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCorporate</servlet-name>
        <servlet-class>controllers.EditCorporate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFeedbackInfo</servlet-name>
        <servlet-class>controllers.GetFeedbackInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyVacancies</servlet-name>
        <servlet-class>controllers.MyVacancies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVacancy</servlet-name>
        <servlet-class>controllers.EditVacancy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVacancy</servlet-name>
        <servlet-class>controllers.DeleteVacancy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewComments</servlet-name>
        <servlet-class>controllers.ViewComments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportUser</servlet-name>
        <servlet-class>controllers.ReportUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShortList</servlet-name>
        <servlet-class>controllers.ShortList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OfferJob</servlet-name>
        <servlet-class>controllers.OfferJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetJobs</servlet-name>
        <servlet-class>controllers.GetJobs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetJob</servlet-name>
        <servlet-class>controllers.GetJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyJob</servlet-name>
        <servlet-class>controllers.ApplyJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyApps</servlet-name>
        <servlet-class>controllers.MyApps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteApp</servlet-name>
        <servlet-class>controllers.DeleteApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>controllers.View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check</servlet-name>
        <servlet-class>controllers.Check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>controllers.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controllers.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetWarning</servlet-name>
        <url-pattern>/GetWarning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStaff</servlet-name>
        <url-pattern>/GetStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSeekers</servlet-name>
        <url-pattern>/GetSeekers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCorporate</servlet-name>
        <url-pattern>/GetCorporate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFeedback</servlet-name>
        <url-pattern>/GetFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReports</servlet-name>
        <url-pattern>/GetReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaff</servlet-name>
        <url-pattern>/AddStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaff</servlet-name>
        <url-pattern>/EditStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSeeker</servlet-name>
        <url-pattern>/DeleteSeeker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSeeker</servlet-name>
        <url-pattern>/EditSeeker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSeeker</servlet-name>
        <url-pattern>/AddSeeker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCorporate</servlet-name>
        <url-pattern>/DeleteCorporate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCorporate</servlet-name>
        <url-pattern>/AddCorporate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCorporate</servlet-name>
        <url-pattern>/EditCorporate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFeedbackInfo</servlet-name>
        <url-pattern>/GetFeedbackInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyVacancies</servlet-name>
        <url-pattern>/MyVacancies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVacancy</servlet-name>
        <url-pattern>/EditVacancy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVacancy</servlet-name>
        <url-pattern>/DeleteVacancy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewComments</servlet-name>
        <url-pattern>/ViewComments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportUser</servlet-name>
        <url-pattern>/ReportUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShortList</servlet-name>
        <url-pattern>/ShortList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OfferJob</servlet-name>
        <url-pattern>/OfferJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetJobs</servlet-name>
        <url-pattern>/GetJobs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetJob</servlet-name>
        <url-pattern>/GetJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyJob</servlet-name>
        <url-pattern>/ApplyJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyApps</servlet-name>
        <url-pattern>/MyApps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteApp</servlet-name>
        <url-pattern>/DeleteApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check</servlet-name>
        <url-pattern>/Check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
